.dashboard-wrapper {
  height: calc(100vh - 4.375rem);
  max-height: calc(100vh - 4.375rem);
  display: flex;
}

.info-container {
  height: 100%;
  flex: 1 1 auto;
}

.handler {
  width: 16px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
  background-color: var(--base-color);
}

.handler::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: var(--text-color);
  margin: 0 auto;
  opacity: 0.5;
}

.card-topper {
  height: 2rem;
  background-color: #1e1e1e;
  position: sticky;
  top: 0;
  z-index: 2;
}

.card-topper h2 {
  color: var(--text-color);
  float: left;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.4rem;
}

.map-card {
  height: 50%;
  width: 100%;
  --s: 10px; /* control the size */
  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

#map-race {
  padding: 0;
  margin: 0;
  height: calc(100% - 2rem);
  width: 100%;
}

.card-button {
  background: none;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  float: right;
}

.card-button:hover {
  background: rgba(170, 170, 170, 0.062);
  transition: 0.5s;
  
}

.car-card {
  height: 50%;
  width: 100%;
}

.race-card {
  height: 100%;
  width: 100%;
  background-color: green;
  --s: 10px; /* control the size */
  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  overflow: scroll;
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .dashboard-wrapper {
    height: calc(100vh - 4.375rem);
    display: block;
  }
}

.race-info {
  padding: 1rem;
}

.info-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-label {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.info-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ab341d 0%, #e13809 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.info-button::before,
.info-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.info-button::before {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(0.9);
  opacity: 0;
}

.info-button::after {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  opacity: 0;
}

.info-label input {
  display: none;
}

.info-label input:checked + .info-button {
  background: linear-gradient(135deg, #a3ff22 0%, #66ff43 100%);
  box-shadow: 0 10px 20px rgba(34, 255, 49, 0.4);
}

.info-label input:checked + .info-button::before {
  transform: scale(1.2);
  opacity: 1;
}

.race-info .driver-div {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
  color: var(--text-color);
  
}

.driver-div .driver, .driver {
  height: 100px;
  padding: 0.5rem;
  background: var(--base-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  border-left: #3671C6 solid 0.5rem;
  margin-top: 1rem;
}

.driver-headshot {
  border: #dddddd 1px solid;
  width: calc(100px - 1rem);
  height: 100%;
  border-radius: 10px;
  aspect-ratio: 1;
}

.driver-headshot img {
  width: 100%;
  height: 100%;
}

.driver-name {
  font-size: 1rem;
}

.driver-info {
  margin-left: 1rem;
  width: calc(100% - 2rem);
}

.driver-info .card-button {
  position: relative;
}

.follow-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.follow-button input{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.checker {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 50px;
  transition: all 0.3s;
  --spread: 10px;
  border: green solid 1px;
 }

 .follow-button  input:hover  ~ .checker{
  box-shadow: #66ff43 1px;
 }

.follow-button  input:checked ~ .checker {
  background: green;
 }

.follow-button i{
  width: 100%;
  margin-top: 0.35rem;
}

#charts {
  max-height: calc(100% - 2rem);
  height: calc(100% - 2rem);
  width: 100%;
  background-color: var(--base-color);
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--text-color);
}