.background {
  background-color: #f4f4f4;
  margin: 0;
  padding: 1rem;
  height: calc(100vh - 4.375rem);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(../media/login-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
}

.races-card {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(
        145deg,
        transparent 35%,
        var(--secondary-color),
        var(--primary-color)
      )
      border-box;
  border: 3px solid transparent;
  color: var(--text-color);
  box-sizing: border-box;
  border-radius: 16px;
  --bs-table-bg: var(--base-color);
}

button {
  text-align: center;
  margin: 0 auto;
}

#session-table th {
  background-color: var(--base-color);
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#session-table tbody th,
#session-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
/* #session-table tr.odd td {
  background-color: var(--base-color);
} */

#session-table {
  min-width: 900px;
}
#session-table thead tr,
#session-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
#session-table tbody th,
#session-table tbody td {
  text-align: center;
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
#session-table tbody th small,
#session-table tbody td small {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
#session-table tbody th a,
#session-table tbody td a {
  color: rgba(255, 255, 255, 0.3);
}
#session-table tbody th .more,
#session-table tbody td .more {
  color: rgba(255, 255, 255, 0.3);
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
#session-table tbody tr {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
#session-table tbody tr:hover td,
#session-table tbody tr:focus td {
  color: #000000;
  font-weight: 500;
  background-color: #a9a9a9;
}
#session-table tbody tr:hover td a,
#session-table tbody tr:focus td a {
  color: #fdd114;
}
#session-table tbody tr:hover td .more,
#session-table tbody tr:focus td .more {
  color: #fdd114;
}
#session-table .td-box-wrap {
  padding: 0;
}
#session-table .box {
  background: #fff;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#session-table .box td,
#session-table .box th {
  border: none !important;
}
