{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/dark/main.css" />
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="info-container left">
        <div class="map-card">
            <div class="card-topper">
                <h2>Race Map</h2>
                <button class="card-button toggle">
                    <i class="fa-solid fa-chevron-up"></i>
                </button>
                <button class="card-button">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
            <div id="map-race"></div>
        </div>
        <div class="car-card">
            <div class="card-topper">
                <h2>Car Tracking</h2>
                <button class="card-button toggle">
                    <i class="fa-solid fa-chevron-up"></i>
                </button>
                <button class="card-button">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
            <h2>No Car Selected</h2>
        </div>

    </div>
    <div class="handler"></div>
    <div class="info-container right">
        <div class="race-card">
            <div class="card-topper">
                <h2>Race Information</h2>
                <button class="card-button">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
            <div class="race-info">
                <div class="info-selection">
                    <label class="info-label" for="drivers">
                        <input id="drivers" type="radio" name="race-info" checked="">
                        <div class="info-button">
                            <i class="fa-solid fa-car"></i>
                            <span class="edge"></span>
                            
                        </div>
                    </label>
                    <label class="info-label" for="order">
                        <input id="order" type="radio" name="race-info">
                        <div class="info-button">
                            <i class="fa-solid fa-list-ol"></i>
                            <span class="edge"></span>
                            
                        </div>
                    </label>
                    <label class="info-label" for="mickey">
                        <input id="mickey" type="radio" name="race-info">
                        <div class="info-button">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <span class="edge"></span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://js.arcgis.com/4.28/"></script>
<script src="{{ url_for('static', filename='js/race-map.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}